* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}


body {
    min-height: 100vh;
    background: black;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    width: 100%;
    
}

body p {
    color: #ffffff;
    font-size: 15px;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}


.container {
    display: grid; 
    grid-template-columns: 0.1fr; 
    grid-template-rows: 0.1fr 1fr; 
    height: 400px;
    width: 1000px;
    gap: 0px 0px; 
    border: 1px solid rgba(255, 255, 255, 0.25);
    align-content: center;
    color: white;
    text-transform: uppercase;
    


    grid-template-areas: 
      ". . ."
      ". grid ."
      ". . ."; 
  }
  .grid {
    display: grid; 
    grid-template-columns: 1fr 0fr; 
    grid-template-rows: 1fr 0fr; 
    gap: 0px 0px; 
    grid-area: grid; 
    
    
  }


  .pictures-row { grid-area: 1 / 1 / 3 / 3; width: 368px;}
  .pictures-row2 { grid-area: 3 / 1 / 4 / 3; width: 368px;}

  .photo-me {
      width: 180px;
      height: auto;
  }
  .container1 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    height: 5px;
    justify-self: end;
    grid-template-areas: 
      ". . ."
      ". . text"
      ". . ."; 
  }
  .text {
    height: 5px;
    position: absolute;
    right: 362px;
    width: 520px;
    bottom: 458px;
  }
/*
.box {
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 20px;
    margin: 20px;
    display: flex;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #ffffff;
} */




header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color:#ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.top{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color:#ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 5000;
}

.left{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    writing-mode: vertical-lr;
    color:#ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    writing-mode: vertical-lr;
    color:#ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;


}

.bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color:#ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;

}


